@font-face {
    font-family: 'Gilroy-Semibold';
    src: url("../fonts/Gilroy-Semibold.ttf");
}
@font-face {
    font-family: 'Gilroy-Light';
    src: url("../fonts/Gilroy-Light.ttf");
}
@font-face {
    font-family: 'Galien-Bold';
    src: url("../fonts/TRY_Galien-Bold.ttf");
}
@font-face {
    font-family: 'Galien-BoldItalic';
    src: url('../fonts/TRY_Galien-BoldItalic.ttf');
}
@font-face {
    font-family: 'Galien-Book';
    src: url('../fonts/TRY_Galien-Book.ttf');
}
@font-face {
    font-family: 'Galien-BookItalic';
    src: url('../fonts/TRY_Galien-BookItalic.ttf');
}
@font-face {
    font-family: 'Galien-Italic';
    src: url('../fonts/TRY_Galien-Italic.ttf');
}
@font-face {
    font-family: 'Galien-Light';
    src: url('../fonts/TRY_Galien-Light.ttf');
}
@font-face {
    font-family: 'Galien-LightItalic';
    src: url('../fonts/TRY_Galien-LightItalic.ttf');
}
@font-face {
    font-family: 'Galien-Poster';
    src: url('../fonts/TRY_Galien-Poster.ttf');
}
@font-face {
    font-family: 'Galien-Regular';
    src: url('../fonts/TRY_Galien-Regular.ttf');
}